/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
!/bin/behat2
/composer.phar
/.vagrant/
/.idea/
/nbproject/
/tmp/
*.php~
