{% extends '::base.html.twig' %}

{% block title %}
    Brak strony...
{% endblock title %}

{% block content %}
    <h2>Błąd!</h2>
    <p>
        Podana strona nie istnieje!
    </p>
{% endblock content %}

